body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}

div.backgroundrooms{
    bottom: 22%;
    position: absolute;
}

div.roomsstatement{
    position: absolute;
    top: 23%;
    height: 20%;
    width: 40%;
}

p.roomsstatement{
    text-shadow: 0 0 4px  rgba(22, 22, 22, 0.9);
    color: white;
    font-family: sans-serif;
    font-size: 40;
    opacity: .9;
}

div.roomsbody{
    background: rgb(240, 240, 240);
    width: 100%;
    height: 200%;
    position: absolute;
    box-shadow: 0 0 4px  rgba(0,0,0,0.9);
    top: 50%;
}

div.roomsbodystatement{
    left: 25%;
    top: 0%;
    width: 50%;
    height: 10%;  
    position: absolute;
}

p.roomsbodystatement{
    color: #222;
    font-family: sans-serif;
    font-size: 15;
    opacity: .9;
}

div.juniorsuite{
    position: absolute;
    top: 5%;
    right: 15%;
    height: 25%;
    width: 70%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

div.juniorsuitestatement{
    position: absolute;
    height: 20%;
    width: 50%;
    left: 3%;
    top: 0%;
}

p.juniorsuitestatement{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.logininputemailpass{
    position: absolute;
    height: 35%;
    width: 50%;
    left: 5%;
    top: 25%;
}

div.juniorsuiteimg{
    position: absolute;
    top: 20%;
    left: 3%;
    height: 60%;
    width: 30%;  
}

div.juniorsuitemoreinfo{
    position: absolute;
    height: 100%;
    width: 25%;
    border-left: solid 1px rgb(199, 199, 199);
    right: 0%;
}

div.juniorsuitefrom{
    position: absolute;
    height: 20%;
    width: 20%;
    left: 33%;
    top: 15%;
}

p.juniorsuitefrom{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.juniorsuiteprice{
    position: absolute;
    height: 20%;
    width: 55%;
    left: 23%;
    top: 28%;
}

p.juniorsuiteprice{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.juniorsuitemoreinfobutton{
    position: absolute;
    height: 7.2%;
    width: 65%;
    left: 18%;
    top: 55%;
}

a.juniorsuitemoreinfobutton{
    text-decoration: none;
    padding: 5% 25%;
    background: #222;
    border: solid 1px #222;   
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 16; 
}   

a.juniorsuitemoreinfobutton:hover {
    background: rgb(68, 68, 68);
    transition: ease-in-out .5s;
}

/* ///////////////////////////////////////////////////////////////////// */

div.standardroom{
    position: absolute;
    top: 35%;
    right: 15%;
    height: 25%;
    width: 70%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

div.standardroomstatement{
    position: absolute;
    height: 20%;
    width: 50%;
    left: 3%;
    top: 0%;
}

p.standardroomstatement{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.standardroomimg{
    position: absolute;
    top: 20%;
    left: 3%;
    height: 60%;
    width: 30%;   
}

div.standardroommoreinfo{
    position: absolute;
    height: 100%;
    width: 25%;
    border-left: solid 1px rgb(199, 199, 199);
    right: 0%;
}

div.standardroomfrom{
    position: absolute;
    height: 20%;
    width: 20%;
    left: 33%;
    top: 15%;
}

p.standardroomfrom{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.standardroomprice{
    position: absolute;
    height: 20%;
    width: 55%;
    left: 23%;
    top: 28%;
}

p.standardroomprice{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.standardroommoreinfobutton{
    position: absolute;
    height: 7.2%;
    width: 65%;
    left: 18%;
    top: 55%;
}

a.standardroommoreinfobutton{
    text-decoration: none;
    padding: 5% 25%;
    background: #222;
    border: solid 1px #222;   
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 16; 
}   

a.standardroommoreinfobutton:hover {
    background: rgb(68, 68, 68);
    transition: ease-in-out .5s;
}






div.superiorroom{
    position: absolute;
    top: 65%;
    right: 15%;
    height: 25%;
    width: 70%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

div.superiorroomstatement{
    position: absolute;
    height: 20%;
    width: 50%;
    left: 3%;
    top: 0%;
}

p.superiorroomstatement{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.superiorroomimg{
    position: absolute;
    top: 20%;
    left: 3%;
    height: 60%;
    width: 30%;    
}

div.superiorroommoreinfo{
    position: absolute;
    height: 100%;
    width: 25%;
    border-left: solid 1px rgb(199, 199, 199);
    right: 0%;
}

div.superiorroomfrom{
    position: absolute;
    height: 20%;
    width: 20%;
    left: 33%;
    top: 15%;
}

p.superiorroomfrom{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.superiorroomprice{
    position: absolute;
    height: 20%;
    width: 55%;
    left: 23%;
    top: 28%;
}

p.superiorroomprice{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
}

div.superiorroommoreinfobutton{
    position: absolute;
    height: 7.2%;
    width: 65%;
    left: 18%;
    top: 55%;
}

a.superiorroommoreinfobutton{
    text-decoration: none;
    padding: 5% 25%;
    background: #222;
    border: solid 1px #222;   
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 16;  
}   

a.superiorroommoreinfobutton:hover {
    background: rgb(68, 68, 68);
    transition: ease-in-out .5s;
}





p.contactus{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
    text-align: center;  
}

p.contactusnumber{
    color: #222;
    font-family: sans-serif;
    font-size: 16;
    opacity: .9;
    text-align: center;
}

div.contactus{
    position: absolute;
    top: 5%;
    right: 15%;
    height: 75%;
    width: 70%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

div.contactusmap{
    position: absolute;
    top: 35%;
    left: 5%;
    
}


div.contactform{
    position: absolute;
    right: 17%;
    top: 31%;
}

p.name{
    color: #222;
    font-family: sans-serif;
    font-size: 16;
    opacity: .9;
      
}

p.email{
    color: #222;
    font-family: sans-serif;
    font-size: 16;
    opacity: .9;
      
}

p.subject{
    color: #222;
    font-family: sans-serif;
    font-size: 16;
    opacity: .9;
      
}

p.message{
    color: #222;
    font-family: sans-serif;
    font-size: 16;
    opacity: .9;
      
}

div.sendbutton{
    position: absolute;
    height: 7.2%;
    width: 65%;
    left: 18%;
    top: 100%;
}

a.sendbutton{
    text-decoration: none;
    padding: 5% 25%;
    background: #222;
    border: solid 1px #222;   
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 16; 
}

input{
    border: 3px solid #1F1E1E;
    margin: 0 0 5px;
    width: 100%x;
    font: normal normal normal 14px/1.4em proxima-n-w01-reg,sans-serif;
}

textarea{
    border: 3px solid #1F1E1E;
    margin: 0 0 5px;
    width: 100%x;
    font: normal normal normal 14px/1.4em proxima-n-w01-reg,sans-serif;
}


div.policystatement{
    position: absolute;
    top: 5%;
    right: 15%;
    height: 80%;
    width: 70%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

p.policy{
    position: absolute;
    top: 19%;
    right: 13%;
    height: 80%;
    width: 70%;
    color: #222;
    font-family: sans-serif;
    font-size: 18;
    opacity: .9;
    text-align: center;
}

div.pborder{
    border-top: solid 3px #222;
    
}

div.policybody{
    background: rgb(240, 240, 240);
    width: 100%;
    height: 200%;
    position: absolute;
    box-shadow: 0 0 4px  rgba(0,0,0,0.9);
    top: 50%;
}

div.policydiv{
    left: 25%;
    top: 0%;
    width: 50%;
    height: 10%;  
    position: absolute;
}

p.policydiv{
    color: #222;
    font-family: sans-serif;
    font-size: 15;
    opacity: .9;
}


p.about{
    color: #222;
    font-family: sans-serif;
    font-size: 26;
    opacity: .9;
    text-align: center;
}

table{
    position: absolute;
    color: #222;
    font-family: sans-serif;
    font-size: 15;
    opacity: .9;
    text-align: center;
    top: 10%;
    width: 100%;
}

div.managereservation{
    position: absolute;
    top: 5%;
    right: 5%;
    height: 85%;
    width: 90%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

div.addrooms{
    position: absolute;
    top: 3%;
    right: 3%;
    height: 3%;
    width: 6%;
    text-align: center;
}

a.addrooms{
    text-decoration: none;
    padding: 6% 30%;
    background: #222;
    border: solid 1px #222;   
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 16;  
}

a.addrooms:hover {
    background: rgb(68, 68, 68);
    transition: ease-in-out .5s;
}