body{
    font-family: sans-serif;
    background-color: white;
    margin: 0;
}

div.backgroundrooms{
    bottom: 22%;
    position: fixed;
}

div.reservationsummarystatement{
    position: absolute;
    left: 8%;
    top: 23%;
    height: 20%;
    width: 40%;
}

p.reservationsummarystatement{
    text-shadow: 0 0 4px  rgba(22, 22, 22, 0.9);
    color: white;
    font-family: sans-serif;
    font-size: 40;
    opacity: .9;
}

div.reservationsummarybody{
    background: rgb(240, 240, 240);
    width: 100%;
    height: 800px;
    position: absolute;
    box-shadow: 0 0 4px  rgba(0,0,0,0.9);
    top: 50%;
}

div.reservationsummarymorebody{
    position: absolute;
    top: 5%;
    right: 15%;
    height: 78%;
    width: 70%;
    background: white;
    box-shadow: 0 0 2px  rgba(0,0,0,0.2);
    border-top: solid 5px #222;
}

/* //////////////////////////////////////////////Guest Details//////////////////////////////////////////////////////// */
div.guestdetails{
    position: absolute;
    margin: 0%;
    height: 100%;
    width: 65%;
}

div.guestdetailsstatement{
    position: absolute;
    top: 5%;
    height: 6%;
    width: 85%;
    margin-left: 5%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

p.guestdetailsstatement{
    margin: 1%;
    margin-left: 0%;
    font-family: sans-serif;
    color: #222;
    font-size: 20;
    font-weight: bold;
    opacity: .9;
}

/* ////////////Details/////////////// */
/* Guest Name */
div.guestdetailsname{
    position: absolute;
    top: 25%;
    height: 7%;
    left: 15%;
    width: 70%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

div.guestdetailsnamestatement{
    position: absolute;
    height: 100%;
    width: 45%;
}

p.guestdetailsnamestatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 20;
    opacity: .9;
}

div.guestdetailsnameoutput{
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0%;
}

p.guestdetailsnameoutput{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 20;
    opacity: .9;
}

/* Email Address */
div.guestdetailsemail{
    position: absolute;
    top: 35%;
    height: 7%;
    left: 15%;
    width: 70%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

div.guestdetailsemailstatement{
    position: absolute;
    height: 100%;
    width: 45%;
}

p.guestdetailsemailstatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 20;
    opacity: .9;
}

div.guestdetailsemailoutput{
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0%;
}

p.guestdetailsemailoutput{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 20;
    opacity: .9;
}

/* Phone Number */
div.guestdetailsphone{
    position: absolute;
    top: 45%;
    height: 7%;
    left: 15%;
    width: 70%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

div.guestdetailsphonestatement{
    position: absolute;
    height: 100%;
    width: 45%;
}

p.guestdetailsphonestatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 20;
    opacity: .9;
}

div.guestdetailsphoneoutput{
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0%;
}

p.guestdetailsphoneoutput{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 20;
    opacity: .9;
}

/* Country */
div.guestdetailscountry{
    position: absolute;
    top: 55%;
    height: 7%;
    left: 15%;
    width: 70%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

div.guestdetailscountrystatement{
    position: absolute;
    height: 100%;
    width: 45%;
}

p.guestdetailscountrystatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 20;
    opacity: .9;
}

div.guestdetailscountryoutput{
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0%;
}

p.guestdetailscountryoutput{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 20;
    opacity: .9;
}

/* Policy */
div.guestdetailspolicy{
    position: absolute;
    top: 65%;
    height: 7%;
    left: 15%;
    width: 70%;
}

p.guestdetailspolicy{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 14;
    opacity: .5;
}

/* Reserve Your Room Button */
div.reserveyourroom{
    position: absolute;
    top: 80%;
    height: 7%;
    left: 15%;
    width: 70%;
}

input.reserveyourroombutton{
    border-radius: 100px;
    right: 0%;
    position: absolute;
    height: 100%;
    width: 70%;
    background: #222;
    border: solid 1px #222;
    color: rgb(230, 230, 230);
    font-size: 16;
    font-family: sans-serif;
    transition: ease-in-out .8s;
}

input.reserveyourroombutton:hover{
    transition: ease-in-out .8s;
    border-radius: 14px;
    background: rgb(68, 68, 68);
    border: solid 1px rgb(68, 68, 68);
}


/* //////////////////////////////////////////////Order Summary//////////////////////////////////////////////////////// */               
div.ordersummary{
    position: absolute;
    margin: 0%;
    right: 0%;
    height: 100%;
    width: 35%;
    border-left: solid 1px rgb(199, 199, 199);
    /* background: rgb(249, 249, 249); */
    background: rgb(255, 255, 255);
}

div.ordersummarystatement{
    position: absolute;
    top: 5%;
    height: 6%;
    width: 80%;
    left: 8%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

p.ordersummarystatement{
    margin: 1%;
    margin-left: 0%;
    font-family: sans-serif;
    color: #222;
    font-size: 20;
    font-weight: bold;
    opacity: .9;
}

div.ordersummaryimg{
    position: absolute;
    top: 15%;
    height: 30%;
    width: 80%;
    left: 8%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

div.ordersummaryimg img{
    height: 100%;
    width: 100%;
    position: relative;
}

/* ////////////Room Details/////////////// */

div.ordersummaryroomdetails{
    position: absolute;
    top: 47%;
    height: 20%;
    width: 80%;
    left: 8%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

/* Room Type */
div.ordersummaryroomtype{
    position: absolute;
    top: 3%;
    height: 16%;
    left: 2%;
    width: 96%;
}

div.ordersummaryroomtypestatement{
    position: absolute;
    height: 100%;
    width: 40%;
}

p.ordersummaryroomtypestatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    opacity: .9;
}

div.ordersummaryroomtypechosen{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}

p.ordersummaryroomtypechosen{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 15;
    opacity: .9;
}

/* Dates */
div.ordersummarydates{
    position: absolute;
    top: 25%;
    height: 36%;
    left: 2%;
    width: 96%;
}

div.ordersummarydatesstatement{
    position: absolute;
    height: 100%;
    width: 40%;
}

p.ordersummarydatesstatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    opacity: .9;
}

div.ordersummarydatesstatementuntil{
    top: 60%;
    position: absolute;
    height: 100%;
    width: 50%;
}

p.ordersummarydatesstatementuntil{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    opacity: .9;
}

div.ordersummarydatescheckin{
    position: absolute;
    height: 50%;
    width: 50%;
    right: 0%;
}

li.ordersummarydatescheckin{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    font-weight: bold;
    opacity: .9;
    list-style: none;
    display: inline-block;
}

li.ordersummarydatescheckinat{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 12;
    font-weight: bold;
    opacity: .9;
    list-style: none;
    display: inline-block;
}

div.ordersummarydatescheckout{
    position: absolute;
    top: 60%;
    height: 50%;
    width: 50%;
    right: 0%;
}

li.ordersummarydatescheckout{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    font-weight: bold;
    opacity: .9;
    list-style: none;
    display: inline-block;
}

/* Num of Nights*/
div.ordersummarynights{
    position: absolute;
    top: 68%;
    height: 16%;
    left: 2%;
    width: 96%;
}

div.ordersummarynightsstatement{
    position: absolute;
    height: 100%;
    width: 50%;
}

p.ordersummarynightsstatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    opacity: .9;
}

div.ordersummarynightsnumber{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}

p.ordersummarynightsnumber{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 15;
    opacity: .9;
}

/* ////////////Subtotal Computation/////////////// */
div.ordersummarysubtotalcomputation{
    position: absolute;
    top: 70%;
    height: 11%;
    width: 80%;
    left: 8%;
    border-bottom: solid 1px rgb(199, 199, 199);
}

/* Subtotal */
div.ordersummarysubtotal{
    position: absolute;
    top: 0%;
    height: 16%;
    left: 2%;
    width: 96%;
}

div.ordersummarysubtotalstatement{
    position: absolute;
    height: 100%;
    width: 50%;
}

p.ordersummarysubtotalstatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    opacity: .9;
}

div.ordersummarysubtotalprice{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}

p.ordersummarysubtotalprice{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 15;
    opacity: .9;
}

div.ordersummaryreservationdeposit{
    position: absolute;
    top: 40%;
    height: 16%;
    left: 2%;
    width: 96%;
}

div.ordersummaryreservationdepositstatement{
    position: absolute;
    height: 100%;
    width: 40%;
}

p.ordersummaryreservationdepositstatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 15;
    opacity: .9;
}

div.ordersummaryreservationdepositmult{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}

p.ordersummaryreservationdepositmult{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 15;
    opacity: .9;
}

/* ////////////Total Final/////////////// */
div.ordersummarytotalfinal{
    position: absolute;
    top: 85%;
    height: 15%;
    width: 80%;
    left: 8%;
}

/* Total */
div.ordersummarytotal{
    position: absolute;
    top: 0%;
    height: 25%;
    left: 2%;
    width: 96%;
}

div.ordersummarytotalstatement{
    position: absolute;
    height: 100%;
    width: 50%;
}

p.ordersummarytotalstatement{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-size: 25;
    font-weight: bold;
    opacity: .9;
}

div.ordersummarytotalprice{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0%;
}

p.ordersummarytotalprice{
    margin: 0;
    font-family: sans-serif;
    color: #222;
    font-weight: bold;
    font-size: 25;
    opacity: .9;
}